<h1><%= t('views.common.title_edit', name: User.model_name.human.downcase) %></h1>

<%= render "form", user: @user %>

<br>

<nav class="page-nav">
  <%= link_to t('views.common.show', name: User.model_name.human.downcase), @user %> |
  <%= link_to t('views.common.back', name: i18n_pluralize(User.model_name.human.downcase)), users_path %>
</nav>
